/* web font */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.nanumgothic * { font-family: 'Nanum Gothic', sans-serif;}



/*reset*/

* { margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }
li { list-style: none; }
img { vertical-align: top; }



/*common*/

html { overflow-x: hidden; font-size: 62.5%; }
body { font-family: 'Nanum Gothic', sans-serif; font-size: 1.4rem; color:#222; word-spacing: 0.5;  }
.wrap { width: 1240px; max-width: 1240px; margin: 0 auto; position: relative; }
.wrap:after, ul:after, .cl:after { content:""; clear: both; display: block; }
.fl { display: flex; align-items: center; }
.fl:after { display: none; }
.blind { position: absolute; left:-9999px; font-size:0; width: 0; height: 0; overflow: hidden; }

/* 본문 컬러 color: #222 #555, #888, #fff 로 위계정리 및 통일감 형성 */
/* 배경 색상 #03346c, #163271, #01234b, #3c4968, #3b62bb, #0056b3 */




/* header */

header { background: #fff; position: absolute; z-index: 99; width: 100%; }
header #tnb { line-height: 48px; color: #fff; background: #01234b; }
header #tnb .wrap {  background: #03346c; justify-content: space-between; }

header #tnb .part1 {  }
header #tnb .part1:before { content: ""; display: block; background: #03346c; position: absolute; height: 48px; width: 500px; left: -500px; }
header #tnb .part1 li a { display: inline-block;  font-size: 1.3rem; }
header #tnb .part1 li a img { vertical-align: middle; margin-right: 5px; transition: 0.3s; }
header #tnb .part1 li a:hover img { transform: scale(1.05); image-rendering: -webkit-optimize-contrast; } /* 적용 안됨 확인 필요!!!!!!!*/
header #tnb .part1 li:after { content: "|"; margin: 0 15px; color: rgba(255, 255, 255, 0.3);  }
header #tnb .part1 li:last-child:after {display: none; }


/* 언어선택 js */

/* 언어선택 버튼 */
header #tnb .part2 { height: 48px; position: relative; left: 100px; padding: 0 13px; cursor: pointer; }
header #tnb .part2 span { }
header #tnb .part2 span:after { content: "▼";  margin-left: 10px; font-size: 12px;  }
header #tnb .part2 span:before { content: ""; display: inline-block; margin-right: 5px; background: url(../img/index/header/lang.png) no-repeat center; position: relative; top: 6px; height: 21px; width: 21px; }

/* 언어선택 메뉴 */
header #tnb .part2 .item { display: none; position: absolute; z-index: 99; left: 0; top: 50px; background: #03346c; width: 100%; }
header #tnb .part2 .item a { display: block; text-align: center; border-bottom: 1px dashed rgba(255, 255, 255, 0.3); box-sizing: border-box;  line-height: 39px; transition: 0.3s; }
header #tnb .part2 .item a:hover { background: #01234b; }
header #tnb .part2 .item a:nth-child(3) { border-bottom: none;  }



header #tnb .part3 {  margin-left: 40px; cursor: pointer;  }
header #tnb .part3 .home { padding: 0 20px; }
header #tnb .part3 .home:before { content: ""; display: inline-block; margin-right: 2px; background: url(../img/index/header/gohome.png) no-repeat center; position: relative; top: 8px; height: 24px; width: 32px;  }
header #tnb .part3 .fam { background: #01234b; padding: 0 15px; }
header #tnb .part3 .fam a img { padding-top: 3px; }






header #gnb { }

header #gnb .wrap { justify-content: space-between; }
header #gnb h1 { }
header #gnb h1 img { vertical-align: middle; }






header #gnb .menu {  margin-left: 100px; }
header #gnb .menu li { line-height: 90px; font-size: 1.8rem; position: relative; }
header #gnb .menu li:before { content: ""; display: inline-block; width: 4px; height: 4px; background: #bbb;  }
header #gnb .menu li:first-child:before { display: none; }
header #gnb .menu li a { padding: 0 20px; display: inline-block; position: relative; }


header #gnb .menu li a:after { content: ""; display: block; position: absolute; bottom: 0; left: calc(50%); width: 0%; height: 5px; background: #01234b; transition: 0.3s; }
header #gnb .menu li :after { content: "▲"; color:  #01234b; display: block; font-size: 0; line-height: 1; position: absolute; bottom: 5px; left: 0; width: 100%; text-align: center; transition: 0.3s; }

header #gnb .menu li:hover a:after { content: ""; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 5px; background: #01234b; }
header #gnb .menu li:hover:after { content: "▲"; color:  #01234b; display: block; font-size: 12px; line-height: 1; position: absolute; bottom: 5px; left: 0; width: 100%; text-align: center; }







header #gnb .sub {  width: 100%;  background: #fff; border-top: 1px solid #ddd; height: 0; transition:.3s; overflow: hidden; }
header #gnb .sub .wrap { }
header #gnb .sub .wrap .sub_menu {  justify-content: space-between; align-items: flex-start;  background: #fff; width: 1240px; padding-top: 30px; opacity: 0; transition:0.3s; position: absolute; width:100%; }
header #gnb .sub .wrap .sub_menu.view {  opacity: 1; z-index: 5;  }



header #gnb .sub .wrap .sub_menu .item:before { content: ''; display: block; width: 154px; height: 220px; background: url(../img/index/header/gnb_bg.png) no-repeat; background-position: 0 0 ; position: absolute; bottom: 50px; left: -20%;  }
header #gnb .sub .wrap .sub_menu:nth-child(2) .item:before { background-position: -154px 0 ;  }
header #gnb .sub .wrap .sub_menu:nth-child(3) .item:before { background-position: -308px 0 ;  }
header #gnb .sub .wrap .sub_menu:nth-child(4) .item:before { background-position: -462px 0 ;  }
header #gnb .sub .wrap .sub_menu:nth-child(5) .item:before { background-position: -616px 0 ;  }
header #gnb .sub .wrap .sub_menu:nth-child(6) .item:before { background-position: -770px 0 ; }


.blur {  filter: blur(1px);  }
.hidden { overflow: hidden; }
.dark { filter:brightness(50%); }

header #gnb .sub .wrap .sub_menu .title { width: 300px;  background: #fff;}
header #gnb .sub .wrap .sub_menu .title dt { font-size: 2.4rem; }
header #gnb .sub .wrap .sub_menu .title dd { font-size: 1.3rem; width: 100%; height: 100%;  }

header #gnb .sub .wrap .sub_menu .title dd:before { content: ''; display: block; height: 2px; width: 30px; background: #222; margin: 20px 0; }
header #gnb .sub .wrap .sub_menu .title dd { color: #555; }



header #gnb .sub .wrap .sub_menu .item  { position: relative; width: 940px; padding-bottom: 50px; font-size: 1.3rem; color: #444; display: grid;  grid-template-columns: 21% 21% 21% 21%; grid-column-gap: 5.3%;   }

header #gnb .sub .wrap .sub_menu:nth-child(5) .item { grid-column-gap: 4%; }
header #gnb .sub .wrap .sub_menu:nth-child(5) .item > li { border-left: 1px dashed #ddd; padding-left: 10px; box-sizing: border-box; }
header #gnb .sub .wrap .sub_menu:nth-child(5) .item > li a em { background: #fff url(../img/index/header/gnb_ico.png) no-repeat; width: 60px; height: 60px; border-radius: 100%; box-sizing: border-box; border: 2px solid #bbb; margin-right: 10px; transition: 0.2;   }
header #gnb .sub .wrap .sub_menu:nth-child(5) .item > li:hover a span { color: #03346c;  }
header #gnb .sub .wrap .sub_menu:nth-child(5) .item > li:hover a em { border-color: #03346c; background-position: 10% 10%; }


header #gnb .sub .wrap .sub_menu:nth-child(6) .item  { grid-template-columns: 18% 18% 18% 18% 18%; grid-column-gap: 2.5%;  padding-bottom: 80px; }





header #gnb .sub .wrap .sub_menu .item > li { width: 100%; margin-right: 40px; margin-bottom: 20px; }

header #gnb .sub .wrap .sub_menu:not(.style2) .item > li > a { font-size: 1.5rem; box-sizing: border-box; border: 1px solid #bbb; padding: 15px; justify-content: space-between; align-items: center;  }
header #gnb .sub .wrap .sub_menu:not(.style2) .item > li > a:hover {  color: #01234bff; border: 2px solid #03346c; padding: 14px;  }



header #gnb .sub .wrap .sub_menu .item .item-inner li { margin: 12px 0; }
header #gnb .sub .wrap .sub_menu .item .item-inner li a { position: relative; transition: 0.3s;  }
header #gnb .sub .wrap .sub_menu .item .item-inner li:hover a { color: #03346c;  }

header #gnb .sub .wrap .sub_menu .item .item-inner li a:after { content: ''; position: absolute; bottom: -5px; display: block; width: calc(100% - 20px); height: 1px; background: #03346c00; margin-left: 20px; transition: 0.2s; }
header #gnb .sub .wrap .sub_menu .item .item-inner li:hover a:after {  background: #03346c; }

header #gnb .sub .wrap .sub_menu .item .item-inner li a:before { content: ''; display: inline-block; background: #888; width: 3px; height: 3px; position: relative; bottom: 4px; margin: 0 5px 0 15px; transition: 0.3s; }
header #gnb .sub .wrap .sub_menu .item .item-inner li:hover a:before { background: #03346c;  }











/* 검색 js*/
/* 검색창 열기 버튼 */
header #gnb .go .search { width: 90px; position: relative; font-size: 1.7rem;  }
header #gnb .go .search .open { width: 90px; height: 90px; border-left: 1px solid #ddd; justify-content: center; transition: 0.3s; }
header #gnb .go .search .open img { margin-left: 6px; }


/* 검색창 닫기 버튼 */
header #gnb .go .search .closed { position: absolute; top: 0; z-index: 99; display: none; }
header #gnb .go .search .closed a { width: 90px; line-height: 90px; text-align: center; color: #fff; background: #0056b3; font-size: 40px; display: block;  }

/* 검색창 */
header #gnb .go .search .closed form { border: 5px solid #0056b3; background: #fff; padding: 30px; position: absolute; right: 0; }
header #gnb .go .search .closed form fieldset { border: 1px solid #aaa; }
header #gnb .go .search .closed form fieldset legend { display: none; width: 400px; }
header #gnb .go .search .closed form fieldset input { width: 300px; display: inline-block; border: none; padding: 0 10px; line-height: 45px; }
header #gnb .go .search .closed form fieldset input::placeholder { color: #888; font-size: 1.5rem; }
header #gnb .go .search .closed form fieldset label { width: 60px; display: inline-block; background: #555; color: #fff; line-height: 45px; text-align: center; cursor: pointer;}


header #gnb .go .sitemap { width: 68px; height: 90px; border-right: 1px solid #ddd;  border-left: 1px solid #ddd; justify-content: center; transition: 0.3s;  }








section .bg { height: 3000px; width: 100%; background: url(../img/index/section/bg.png); position: absolute; z-index: -1; }
section .bg_obj:nth-child(1) { width: 100%; height: 950px; background: url(../img/index/section/bg_obj1.gif) no-repeat center bottom/cover; position: absolute; z-index: 2; }



section .bg_obj:nth-child(2) { width: 239px; height: 236px; display: block; background: url(../img/index/section/bg_obj2.png) no-repeat; position: absolute; z-index: 1; top: 1100px; }
section .bg_obj:nth-child(3) { width: 693px; height: 848px; background: url(../img/index/section/bg_obj3.png) no-repeat; position: absolute; right: 0; top: 400px; z-index: 1; }
section .bg_obj:nth-child(4) { width: 100%; height: 325px; background: url(../img/index/section/bg_obj4.png)  no-repeat right/contain; position: absolute; z-index: 2; right: 0; bottom: 0; }




section{ position: relative; }
section .wrap { display: block; width: 1240px;  }




#index-main {  padding-top: 188px; display: grid; grid-template-columns: 300px 618px 300px; grid-template-rows: 100px 380px; grid-gap: 12px; }

#index-main .weather { line-height: 1.4; align-items: flex-start;  justify-content: space-between;  font-size: 1.3rem; }
#index-main .weather > li { text-align: center; border-right: 1px solid #ddd; height: 40px; padding-right: 10px; }
#index-main .weather > li:nth-child(3) { border-right:none; padding-right: 0; }

#index-main .weather > li:nth-child(1) { align-items: flex-start; }
#index-main .weather > li:nth-child(1) > span { background: url(../img/index/section/main/weather_icon.png) no-repeat; width: 40px; height: 40px; margin-right: 5px; }
#index-main .weather > li:nth-child(1) div  { line-height: 1.2; text-align: start;  }
#index-main .weather > li:nth-child(1) div > span { color:darkred; font-size: 1.2rem;  }
#index-main .weather > li:nth-child(1) div p { font-size: 2.1rem; font-weight: 600; position: relative;  }
#index-main .weather > li:nth-child(1) div p a { cursor: pointer; color: #444; font-size: 20px; position: relative; top: 3px; }
#index-main .weather > li:nth-child(1) div p em { display: none; font-style: normal; position: absolute; left: 0; top: 30px;  width: 250px; padding: 6px; font-size: 1.2rem; line-height: 1.4; color: #fff; background: #444; border-radius: 5px; font-weight: 300;   }



#index-main .slogan { justify-content: center; align-items: flex-start; position: relative; top: -16px; }


#index-main .sns { width: 310px; align-items: flex-start;  justify-content: space-between; font-size: 1.2rem; }
#index-main .sns li { width: calc(100% / 4); }
#index-main .sns li a { display: block; }
#index-main .sns li:nth-child(4) a { width: 80px; position: relative; right: 10px; }

#index-main .sns li a:before { content: ''; display: inline-block; background: #fff url(../img/index/section/main/sns_ir.png) no-repeat; background-size: cover; height: 20px; width: 20px; border-radius: 100%; position: relative; top: 5px; margin-right: 2px; }
#index-main .sns li:nth-child(2) a:before { background-position: -20px 0; }
#index-main .sns li:nth-child(3) a:before { background-position: -40px 0; }
#index-main .sns li:nth-child(4) a:before { background-position: -60px 0; }
#index-main .sns li img { width: 68px; height: auto; margin-top: 10px; }



#index-main .quick { background: #3c4968; color: #FFF; border-radius: 10px; flex-wrap: wrap; justify-content: space-between; padding: 20px 10px; box-sizing: border-box; }
#index-main .quick li { width: calc(100% / 3); text-align: center; }
#index-main .quick li span { display: inline-block; background: rgba(0, 0, 0, 0.2) url(../img/index/section/main/icon_ir.png) no-repeat; width: 64px; height: 64px; border-radius: 100%; transition: 0.2s; }

/*#index-main .quick li:hover span { background-position: 0 -4px; transition: 0.2s;  }*/



#index-main .banner { border-radius: 10px;  /* overflow: hidden; */ position: relative; }
#index-main .banner > ul { position: absolute; }
#index-main .banner .btn {  overflow: hidden; position: absolute; right: 0; bottom: 0; color: #fff; }
#index-main .banner .btn p { text-align: center; width: 50px; line-height: 50px;  margin-left: 2px;  background:  rgba(0, 0, 0, 0.5); font-size: 20px; }
#index-main .banner .btn p:not(.page):hover {  background:  rgba(0, 0, 0, 0.8); }
#index-main .banner .btn .page { width: 100px; }


#index-main .office { border-radius: 10px; overflow: hidden; }

#index-main .office div {background: url(../img/index/section/main/mayor_img4.png) no-repeat center top; height: 280px; overflow: hidden; }
#index-main .office div > p { background: url(../img/index/section/main/mayor_img3.png) no-repeat center top; height: 39px; width: 86px; color: #fff; font-size: 1.3rem; line-height: 32px; text-align: center; position: relative; left: 190px; }
#index-main .office div > p:after { margin-left: 30px; content: ''; display: inline-block; background: url(../img/index/section/main/mayor_img5_20220701.png) no-repeat center/contain; height: 220px; width: 200px; position: relative; right: 90px; top: 30px; }


#index-main .office div > ul:before { margin-left: 25px; content: ''; display: block; background: url(../img/index/section/main/mayor_img6_20220701.png) no-repeat center/contain; height: 48px; width: 140px; margin-bottom: 20px; }
#index-main .office div > ul li { font-size: 1.3rem; margin-left: 25px; background: #fff; padding: 5px 0; width: 95px; text-align: center; margin-bottom: 5px; border-radius: 20px; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); }


#index-main .office > ul {background: brown; height: 100px; }
#index-main .office > ul li { width:  calc(100% /3); text-align: center; color: #fff; border-right: 1px solid rgba(255, 255, 255, 0.3);}
#index-main .office > ul li span { display: inline-block; background: url(../img/index/section/main/mayor_img2.png) no-repeat; width: 34px; height: 44px; transition: 0.2s; }


#index-news { background: #ccf;}






footer { }














@media (min-width:801px) { /* PC용 */
    .mob { display: none !important; }
}